<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Entry Form</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      {% for field in fields %}
          {{ field["name"]}} <br>
          {{ form[field["name"]](size = 80) }} <br>
      {% endfor %}
      <p><input type="submit" value="Go"></p>

   {% if OUTPUT %}
      {% for line in rendered_result %}
           <div><p>{{line}}</p></div>
      {% endfor %}
	
   {% endif %}

 
  </form>
{% endblock %}
